body {
  background-color: #F5F6FA;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.row {
  width : 50%;
  display: flex;
  align-items:center;
  background-color: #FFFFFF;
  padding: 15px;
  border-top: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
}

.last-row {
  border-bottom: 1px solid #DADADA;
}

.avatar {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

h6 {
  font-size: 14px;
  margin: 0px;
}

.trash {
  width: 15px;
}
